* {
  margin:0;
  padding:0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #efefef;
  flex-direction: column;
  padding-top:50px;
  padding-bottom:50px;
}

.container {
  background-color: white;
  width: 40vw;
  min-height: 50vh;
  padding: 20px 50px;
  display: flex;
  flex-direction: column;
  border-radius:10px;
}

.container h1 {
  text-align: center;
}
.questions h2 {
  margin-top:30px;
  font-size:20px;
  text-align: center;
}

.questions ul li {
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  height: 30px;
  width: 100%;
  background-color: cornflowerblue;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
  margin-top: 15px;
  padding:5px;
  cursor: pointer;
}

.questions ul li:hover {
  background-color:  rgb(67, 101, 165);
}

.score {
  margin-bottom:10px;
}

.modal {
  display: initial; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.modal-text {
  padding:10px;
  font-weight:600; 
  font-size:26px;
  text-align: center;
}

.closeBtn {
  color:red;
  cursor: pointer;
}
.closeBtn:hover {
  font-weight:bold; 
}

.manQuest {
  margin-top:20px;
  width: 60vw;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  height: 100%;
}

.manQuest p {
display:inline-block;
}

.questText {
  font-size: 18px;
  font-weight: 600;
  padding-right: 50px;
}

.manQuest ul li {
  list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid grey;
}

.manageQ {
  text-decoration: none;
  margin-top:20px;
}

.addQuest {
  margin-top:20px;
  width: 60vw;
  padding: 30px;
  background-color: white;
  border-radius: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

.addQuest h1 {
  text-align: center;
}

.addQuest form {
  width: 80%;
  margin:0 auto;
  margin-top:20px;
}

.addQuest form input {
  width:100%;
  padding:10px;
}

.addQuest form div {
  box-sizing: border-box;
  margin-top:10px;
  border-bottom: 1px solid grey;
  margin-bottom:5px;
  padding:5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addQuest form div:last-child {
  border-bottom: none;
}

.addQuest form div input[type=text] {
  width:80%;
  padding:10px;
}

.addQuest form input[type=radio] {
  width:20px;
}

.addQuest form p {
  margin-top: 10px;
}

.addQuest form input[type=submit] {
  width: 200px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border: none;
  background-color: cornflowerblue;
  color: white;
  font-weight: 600;
  margin-top:20px;
  cursor: pointer;
}
.addQuest form input[type=submit]:hover {
  background-color: rgb(61, 94, 155);
}