* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  background-color: #e0e0e0;
  align-items: center;
  justify-content: center;
}

.formContainer {
  height: 70%;
  width: 40%;
  background-color: #fff;
  border-radius: 5px;
  padding:30px 50px;
}

.formContainer h3 {
  font-size: 26px;
  font-weight: 400;
  color: rgb(44, 44, 44);
  text-transform: uppercase;
}

form {
  display:flex;
  justify-content: space-between;
}

form select {
  width:45%;
  height: 50px;
  margin-top:20px;
  padding:10px;
}

.resultContainer {
  margin-top:20px;
}

select::-webkit-calendar-picker-indicator {
  opacity: 100;
  color:blue;
}