* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

.container {
  background-color: rgb(216, 216, 216);
  margin:0 auto;
  width:400px;
  height:100%;
  display:flex;
  flex-wrap: wrap;
}

.cube {
  width:200px;
  height: 200px;
}