* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.wrapper {
  width:70%;
  height: 100%;
  margin:0 auto;
}

.container {
  margin:0 auto;
  display:flex;
  justify-content: center;
  margin-top:20px;
  margin-bottom:20px;
}

h1 {
  font-size:30px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

table, td, th {
  border: 1px solid rgb(133, 133, 133);
}

table th {
  padding:5px;
  font-size:18px;
}
table td {
  padding:5px;
  font-size:14px;
}


table tr:nth-child(odd) {
  background-color: rgb(214, 214, 214);
}

.searchField {
margin: 0 auto;
margin-top:20px;
display:flex;
width:100%;
align-items: center;
justify-content: space-around;
}

form label {
  font-size:18px;
}

form input {
  font-size:14px;
}

button {
  font-size:16px;
}

.category h3 {
  font-size:18px;
}
.category select {
  font-size:14px;
  padding:2px;
}

.publisher h3 {
  font-size:18px;
}
.publisher select {
  font-size:14px;
  padding:2px;
}

#submit {
  background-color: tomato;
  border: none;
  padding: 5px 10px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#submit:hover {
  background-color: rgb(172, 64, 45);
}