form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

form input {
margin-bottom:15px;
}

form input[type=text] {
  font-size:16px;
  padding:5px;
}
label {
  font-size:16px;
}

form select {
  font-size:16px;
  padding:5px;
}

form div {
  margin-top:10px;
}

